*{
    margin:0;
    padding:0;
    overflow: hidden;
}
.box{
    width:400px;
    height:600px;
    background-color: wheat;
    display:block;
    margin:auto !important;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    overflow: hidden;
}
.qhead{
    font-size:xx-large;
    text-align: center;
    display:block;
    padding-top:100px;
    color: rgb(13, 141, 221);
}
.start{
    width:50%;
    height:40px;
    display:block;
    margin:auto;
    font-size:20px;
    margin-top:40px;
    color: rgb(13, 141, 221);
    border:1px solid rgb(13, 141, 221);
    outline:none;
    text-decoration: none !important;
}
.start:hover{
    color:white;
    background-color: rgb(13, 141, 221);;
}
.developer{
    width:50%;
    height:60px;
    display:block;
    color:rgb(13, 141, 221);
    margin:auto;
    text-align: center;
    background-color: white;
    padding-top:10px;
    margin-top:10px;
}
.mail{
    width:50%;
    height:40px;
    display:block;
    margin:auto;
    font-size:20px;
    margin-top:10px;
    color: rgb(13, 141, 221);
    border:1px solid rgb(13, 141, 221);
    outline:none;
}
.mail:hover{
    color:white;
    background-color:rgb(13, 141, 221); ;
}
.qno{
    width:80%;
    height:110px;
    display:inline-block;
    text-align: center;
    margin-top:20px !important;
}
.bar{
    width:60%;
    height:40px;
    background:transparent;
    border:1px solid rgb(13, 141, 221);
    margin:auto;
    margin-top:10px;
}
#pro{
    width:20%;
    height:100%;
    background-color: rgb(13, 141, 221);
}
.number{
    margin-top:30px;
}
.scores{
    width:20%;
    height:110px;
    float:right;
    margin-top:20px;
}
.score{
    text-align: center;
    display: block;
    margin-top:30px;
}
.add{
    font-size: 50px;
    display:block;
    margin:auto;
    text-align: center;
    color:rgb(13, 141, 221);
}
.qbox{
    width:100%;
    height:80vh;
    bottom:0;
    padding-bottom:0;
    margin-bottom:0;
    display:block;
    bottom:0;
}
.quest{
    width:80%;
    height:60px;
    text-align: center;
    margin:auto;
    margin-top:20px;
}
.ans{
    width:80%;
    height:250px;
    margin:auto;
    margin-top:20px;
}
.op1{
    width:100%;
    height:50px;
    background-color: turquoise;
    margin-top:10px;
}
.back{
    display:block;
    width:60%;
    height:50px;
    margin:auto;
    margin-top:20px;
    font-size:30px;
    color:rgb(13, 141, 221);
    background-color: white;
    border:none;
    outline:none;
}
.back:hover{
    color:white;
    background-color: rgb(13, 141, 221);
}
#scor{
    display:block;
    font-size:xx-large;
    text-align: center;
    padding-top:100px;
    color: rgb(13, 141, 221);
}
#appe{
    display: none;
    visibility: hidden;
}
.adds{
    text-align:center !important;
    display:block;
}
.a{
    width:20%;
    height:100%;
    background-color: rgb(13, 141, 221);
    float:left;
    text-align: center;
    font-size: 25px;
    padding-top:8px;
    color:white;
}
.op1:hover{
    box-shadow: 19px 3px  10px 3px gray;
}
.answer{
    width:80%;
    height:100%;
    float:right;
    background-color:white;
    padding-top:12px;
}
.next{
    width:50%;
    height:40px;
    background-color: white;
    display:block;
    margin:auto;
    margin-top:10px;
    font-size:20px;
    border:none;
    border:2px solid rgb(13, 141, 221);
    color:rgb(13, 141, 221);
    visibility: hidden;
}
.next:hover{
    color:white;
    background-color: rgb(13, 141, 221);
    outline:none;
}
#curr{
    visibility: hidden;
}
.adds{
    margin-top:20px;
    margin:auto;
    font-size: 70px;
    color:rgb(13, 141, 221);
    text-align: center;
}

@media (max-width:500px){
    .box{
        width:100%;
        height:100vh;
    }
}